<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hello</title>
</head>
<body>
<h1>Hello</h1>
<a href="{{ url_for('hello.upload') }}">Upload</a>

<h2>Uploaded Files</h2>
<ul>
  {% for file in files %}
  <li><a href="{{ url_for('hello.view_photo', blob_key=file.key()) }}">{{ file.filename }}</a></lI>
  {% endfor %}
</ul>
</body>
</html>
