<!DOCTYPE html>
<html lang="en">
<head>
  <title>Uploaded</title>

</head>
<body>
<h1>Upload</h1>

<a href="{{ url_for('hello.view_photo', blob_key=blob_key) }}">{{ url_for('hello.view_photo', blob_key=blob_key) }}</a>

</body>
</html>
